.img {
  height: 200px;
}

.img img {
  height: 100%;
  width: 100%;
}

footer {
  padding: 15px;
}

#p{
  height: 330px;
  padding-top: 10px;
}

main {
      padding-top: 58px;
      padding-bottom: 20px;
}

h1, h2, h3{
  text-decoration: underline;
}

.card {
  /* Add shadows to create the "card" effect */
  height:585px;
  padding-top: 10px;
  box-shadow: 0 4px 15px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 25px 0 rgba(218, 165, 32, 1.0);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.hover {
  width: 100%;
  height: 290px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;

}

.hover .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hover img {
  display: block;
  position: relative;
  height: 280px;
}

/* effect hover 1 */

.ehover1 img {
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  width: 100%; 
  
}

.ehover1 .overlay {
  opacity: 0;
  background-color: rgba(0,0,0, 0.5);
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

}

.ehover1:hover img {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.ehover1:hover .overlay {
  opacity: 1;

}

